@charset 'UTF-8';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#banner{
    margin: 10px;
    background-image: url(../img/baqnner.jpg);
    background-size: cover;
    height: 500px;
}
#containerH{
    display: flex;
    justify-content: space-around;
}
#banner img{
    width: 150px;
}
#banner ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-top: 20px;
}

#banner ul li {
    color: white;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 20px;
    transition: background-color 0.3s;
    cursor: pointer;
    height: 40px;
}

#banner ul li:hover {
    background-color: rgba(18, 18, 18, 0.5);
}
#containerL {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  
}

#login {
  background-color: #fffeb5;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  box-shadow: 10px 10px 10px 10px rgb(202, 198, 198);
}

#login h1 {
  text-align: center;
  margin-bottom: 24px;
  color: #000000;
}

#login label {
  display: block;
  margin-top: 16px;
  margin-bottom: 4px;
  font-weight: bold;
  color: #333;
}

#login input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
}

#login button {
  margin-top: 24px;
  width: 100%;
  padding: 12px;
  background-color: #f1ee14;
  color: rgb(0, 0, 0);
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

#login button:hover {
  background-color: #b8b531;
}

span{
    color: red;
}
#menu{
  display: none;
}

@media screen and (max-width: 480px) {
  #banner {
    height: auto;
    margin: 0;
  }

  #containerH {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  #banner img {
    width: 100px;
  }

#banner ul{
  display: none;
}

  #login {
    padding: 20px;
  }
  #menu{
    display: inline-block;
  }
  .navMob a{
    text-decoration: none;
    flex-direction: column;
    color: black;
  }
}
