@charset 'UTF-8';
:root{
    --verde: #227930;
    --branco: #fff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header{
    background-color: var(--branco);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header img{
    width: 100px;
}

nav ul{
    display: flex;
    gap: 30px;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    display: flex;
}
.botao{

    color: black;
    width: 125px;
    border-radius: 11px;
    text-align: center;
    align-items: center;
}

.botao:hover{
    background-color: var(--verde);
    color: var(--branco);
    transition: 0.7s;
}
#menuLateral {
    display: none;
}
.botaoPgMbl{
    color: var(--branco);
    background-color: var(--verde);
    padding-left: 10px;
    transition: 0.3s;
}
#imgPrincipal {
    background-image: url(../img/82fcfdcd-3f7d-4f19-98a6-8fc305b756a5.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    color: var(--branco);
    display: flex;
    align-items: center;
    
}

#h1Img{
    padding-left: 100px;
    
}
#h1Img h1{
    font-size: 5rem;
}

/* VERSÃO DE CELULAR  */

@media screen and (max-width: 412px){
    header ul{
        display: none;
    }
    #menuLateral{
        display: block;
    }
    #imgPrincipal{
        background-position: center;
        width: 100%;
        height: 100%;
    }

    #h1Img {
        padding-left: 20px;
        font-size: 2rem;
    }
    #h1Img h1 {
        font-size: 2rem;
    }
}